
  <div class='menu-container' id="Blog-comment" align="center">
      <br />
      <h2>Welcome to the Tech Blogs</h2>
    <h5>logged_in - {{BlogData.logged_in}}</h5>
    {{#each BlogData as |eachBlogData|}}
    <div class="gallery-name blog-size" id="blogData" >
    
      <h4> <span style="text-transform:uppercase;" id="blog_text" data-blog_id={{eachBlogData.id}}>{{eachBlogData.title}}</span> posted by: {{eachBlogData.user.username}}</h4>
      <h4> {{eachBlogData.content}}</h4>
      <h5> {{eachBlogData.id}}</h5>
      <h5> User id: {{../user_id}}</h5>
      <h5>logged_in - {{../logged_in}}</h5>
      {{#if ../logged_in}}
          <button class="btn btn-primary" id="add-comment" data-blog_id={{eachBlogData.id}} onclick="newCommentHandler(event)" >Leave a Note</button>
      {{/if}}
       </div>
     {{/each}}
   
   
     <br/>
     
 
    
  </div>
   

<!-- This is the form for retrieving saved logs -->
<script src='/assets/js/Blogs.js'></script>
